body {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    padding: 16px;
    /* display: flex; */
}

.blackish {
    color: #1F2937;
}

.greyish {
    color: #E5E7EB;
}

.blueish {
    color: #3882F6;
}

.whiteish {
    color: #F9FAF8;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
}

.left {
    font-size: 24px;
}

ul, a {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  text-decoration: none;
  color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.content {
    width: 450px;
}

.placeholder {
    background-color: grey;
    width: 520px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
}