body {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    margin: 0;
    /* display: flex; */
}

.blackish {
    color: #1F2937;
}

.greyish {
    color: #E5E7EB;
}

.blueish {
    color: #3882F6;
}

.whiteish {
    color: #F9FAF8;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
    padding: 64px;
}

.left {
    font-size: 24px;
}

ul, a {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  text-decoration: none;
  color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.content {
    width: 450px;
}

.placeholder {
    background-color: grey;
    width: 520px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
}

.info {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 36px;
    font-weight: 900;
}

.information {
    display: flex;
    gap: 30px;
}

.square {
    width: 140px;
    height: 140px;
    border: 4px solid; 
    border-radius: 12px;
}

.info-units {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 145px;
}

.quote {
    background-color: #E5E7EB;
    padding: 64px;
}

.text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.citation {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.action {
    background-color: #F9FAF8;
    padding: 64px;
}

.blue-box {
    background-color: #3882F6;
    padding: 32px 64px;
    border-radius:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px
}

button {
    align-self: center;
    padding: 6px 28px;
    white-space: nowrap;
    border: 2px solid #F9FAF8;
}

.words {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
    font-size: 24px;
}

.blue-box p{
    margin: 0;
}

.footer {
    text-align: center;
}